<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>-->
    <script src="https://connect-cdn.atl-paas.net/all-debug.js" type="text/javascript" data-options="sizeToParent:true;hideFooter:true"></script>
    <script type="text/javascript" src="/bundled.main.js" charset="utf-8"></script>
</head>
<body>
    <div id="react-container"></div>
    <button type="button" class="ak-button ak-button__appearance-default">Button created using the reduced-ui-pack</button>
</body>
</html>